@model KanbanMate.Models.Models.ViewModels.ProjectVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
<h1 class="col-md-11">@Model.Project.Title</h1>
<a class="btn btn-primary col-md-1" asp-controller="Phase" asp-action="Create" asp-route-id="@Model.Project.Id">Create Phase</a>
</div>
<hr/>
<div class="row">
@foreach(var phase in Model.Phases){

<div class="col card">
<div class="row mt-2">
    <div class="col-10">
    <h2 class="card-title">@phase.Title</h2>
    </div>
    <div class="col-2">
<a class="btn-outline-danger btn btn-sm" asp-controller="Phase" asp-action="Delete" asp-route-id="@phase.Id">X</a>
</div>
</div>
<hr/>
<div class="card-body">
                @foreach(var task in Model.Tasks[phase.Id])
                {
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">@task.Title</h5>
                        <p class="card-text">@task.Description</p>
                        <div class="row mx-auto text-center">
                        <div class="col"> <a class="btn btn-primary btn-sm" asp-controller="Task" asp-action="Left" asp-route-id="@task.Id">&lt&lt</a></div>
                        <div class="col"> <a class="btn btn-danger btn-sm" asp-controller="Task" asp-action="Delete" asp-route-id="@task.Id">Delete</a></div>
                        <div class="col"> <a class="btn btn-primary btn-sm" asp-controller="Task" asp-action="Right" asp-route-id="@task.Id">&gt&gt</a></div>                        
                        </div>
                      </div>
                    </div>
                }
</div>
</div>
}
</div>